*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

#hero{
	width: 100%;
	height:100vh;
	background-image: url(image/bg1.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}

.navbar{
	width: 90%;
	margin:auto;
	display:flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 10;
}

.navbar .logo{
	width:100px;
	margin: 30px 0;
	cursor: pointer;
}

.user{
	display: flex;
	align-items: center;
}

.user img{
	width: 50px;
	margin-left: 50px;
	cursor: pointer;
}

button{
	padding: 8px 25px;
	background: transparent;
	outline: none;
	border: 2px solid #fff;
	border-radius: 20px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}

.container{
	width: 50%;
	height:100vh;
	background: rgba(86,86,86,0.3);
	backdrop-filter:blur(10px);
	position:absolute;
	left: 0;
	top: 0;
}

.container1{
	width: 100%;
	height: 100vh;
	background: #1e2227;
	color: #fff;
}

.info{
	width:550px;
	color:#fff;
	position:absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.info h1{
	font-size:60px;
	letter-spacing: 10px;
}

.info p{
	color:#f0eef1;
	font-size: 11px;
	margin: 20px 0;
	line-height: 18px;
}

.info input{
	width: 50%;
	padding: 8px 10px;
	outline: none;
	border: 2px solid #fff;
	border-radius: 20px;
	background: transparent;
	color: #fff;
	font-size:12px;
}

::placeholder{
	color: #ccc;
}

.slider{
	display: flex;
	align-items:center;
	position: absolute;
	right: 30px;
	bottom: 50px;
}

#prev, #next{
	width: 80px;
	cursor: pointer;
}

.preview{
	display: flex;
	align-items: center;
	margin: 0 60px;
}

.preview img{
	width:80px;
	margin: 0 10px;
	opacity: 0.7;
}

.preview .active{
	display: block;
	border : 3px solid #fff;
	width: 100px;
	opacity: 1;
}

.row{
	height: 100%;
	width: 100%;
	display: flex;
}

.col-1, .col-2{
	flex-basis: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.col-2{

	background: white;
}

.col-1{
	padding: 8%;
}

.col-1 h1{
	font-size: 74px;
	line-height: 100px;
	margin-bottom: 5px;
}

.col-1 h2{
	font-size: 35px;
	margin-top: 60px;
	font-weight: 500;
}

.col-1 .button1{
	display:inline-block;
	width: fit-content;
	padding: 18px 50px;
	background: red;
	border: none;
	color: #fff;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;
	transition: transform 0.5s;
}

.col-1 .button1:hover{
	background: #aa0505;
	transform: translateY(-5px);
}

footer{
	display: flex;
	background: #1f1f1f;
	padding: 30px;
	margin: auto;
}

footer > div:first-child{
	flex: 6;
	margin-top: 30px;
	text-align: center;
	color: #fff;
}

footer > div:last-child{
	flex:6;
	color: #fff;
}